[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen
        ignore = dirty
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "rtags"]
	path = rtags
	url = https://github.com/Andersbakken/rtags
	branch = master
